Port 22
AddressFamily any
ListenAddress 0.0.0.0

PermitRootLogin no
PasswordAuthentication yes
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys

ChallengeResponseAuthentication no
UsePAM yes

X11Forwarding no
PrintMotd yes
AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

MaxAuthTries 20
LoginGraceTime 120
